.issue-details {
  .issue-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    
    .issue-title-bar {
      .issue-number {
        font-size: 14px;
      }
      .issue-title-holder {
        h2 {
          font-size: 22px;
          color: white;
          padding-right: 5px;
          display: inline;
        }
        .issue-state {
          display: inline-block;
        }
      }
    }
  }

  .issue-details-body {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    .issue-details-body-header {
      color: rgba(255,255,255,0.8);
      padding-bottom: 10px;
    }
    .issue-details-body-content {
      code {
        font-size: 16px;
        background: #333;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        &::before {
          content: '<code>';
          color: #777;
          font-style: italic;
        }
      }
    }
  }
  
  .issue-comments {
    .issue-comments-header {
      color: rgba(255,255,255,0.8);
    }

    .issue-comment {
      border-bottom: 1px solid;
      padding: 5px 0;
      margin: 15px 0;
      .issue-comment-date {
        padding-left: 10px;
        font-size: 12px;
        color: #777;
      }
      .issue-comment-body {
        margin: 5px 0;
      }
    }
  }
}
